body{

    text-align: center;
    background-color: #0f3635;
}

form{
    padding: 30px;
    border: solid 2px gold;
    background-color: #ba8736;
    box-shadow: 5px 5px 20px;
    margin-left: 25%;
    margin-right: 25%;
}
h3,h1{
    font-size: 2rem;
    color:#ba8736;
}
form input{
    padding:15px;
}
form label{
    padding:5px;
    font-weight: bold;
    text-transform:uppercase;
    margin-bottom: 4em;
}
form p{
    line-height: 3em;
}

form button{
    padding:10px;
    color:#ba8736;
    background-color:#0f3635;
    border-radius: 10px;
}
a{
    color: #ba8736;
}

.mentions{
    margin-left: 25%;
    margin-right: 25%;
    color: #ba8736;
    font-size: 15px;
    text-align: justify;
    line-height: 1.5em;
}

.souvenir{
font-size: 10px !important;
}
.form-check a{
    color:black;
}

.container {
    padding: 2rem 0rem;
  }
  
  .modal-dialog {
    margin-top: 0rem;
    max-width: 100%;
    

  }


